## Local (Postgres)
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/parkflow"

## Supabase (recomendado com Prisma)
# - DATABASE_URL: pooler/pgbouncer (runtime)
# DATABASE_URL="postgresql://postgres.<project-ref>:<password>@aws-0-<region>.pooler.supabase.com:6543/postgres?pgbouncer=true"

## App
NEXT_PUBLIC_API_BASE_URL="http://127.0.0.1:3001/api"
JWT_SECRET="change-me"
CORS_ORIGIN="http://localhost:3000"

## Seed
SEED_ADMIN_PASSWORD=troque-por-uma-senha-forte
SEED_AGENT_SECRET=troque-por-um-segredo-forte
